table {  
  margin: 50px auto;
}


#grid td {
    width: 35px;
    height: 35px;
    border: solid 1px #bbbbbb;
}


.black{
  background-color: black;  
}

.white{
  background-color: white;  
}

.red{
  background-color: red;
}

.controller td{
  text-align: center;
}

.controller  i{
  font-size: 100px;
  color: #33bbff;
  display: none;
}
